body{
    color:#171a20 ;
    font-family: 'M PLUS 1', sans-serif;
}
header{
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 5px 20px;
    position: fixed;
    padding-left: 40px;
    font-weight: bold;   
}    

.top-bar{
        padding-left: 250px;
}
.top-right{
    padding-left: 260px;

}

a.logo{
    height: 12px;
    width: 100px;
    color: inherit;
    }
header a{
    color:inherit ;
}
header nav.top-bar{
    text-align:center
   }
header nav a{
    text-decoration: none;
    padding: 5px 10px ;
}
section{
    
    height:100vh;
    background-size:cover;
    background-position: center center ;
    padding-top: 10px;

}   
  .logo svg{
    height: 18px;
    width:auto;
    color: black;
    

 }   
        

.content{
        width: 100%;
        height:10vh;
        
        
   

}
 .buttons{
     padding: right 100px;
    padding-top: 450px;
    align-items: center;
    padding-left: 150px;
    
}
.content h1{
        padding-left: 600px;
        padding-top: 60px;
        font-weight: 9OOpx;
        font-size: 60px;
       
}
.content p{
         
        padding-left: 550px;
        color: black;
        
}
.buttons a{
    display: block;
    background-color: #eee;
    color: inherit;
    padding: 12px 50px ;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font: size 12px; ;
    
}
section .buttons{
    display: grid;
    grid-template-columns:1fr 1fr;
    max-width: 640px;
    margin: 0 auto;
     column-gap: 20px;   
}
section .buttons a:first-child{
    background-color: #444;
    color: #fff;
}
footer{
    align-items: center;
    padding-left: 450px;
    
}
footer a{
    text-decoration: none;
    color: #171a20;
    padding: 5px;
}
.content a{
    color: black;
}
